@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400;500&family=Bacasime+Antique&family=Roboto:wght@500&family=Source+Code+Pro&display=swap');

html,body{
font-family: 'Roboto', sans-serif;
}

.container{
    background-color: rgb(255, 215, 215);
    margin: auto;
    padding: 10px;
    border: 5px solid black;
    border-radius: 5px;
    width: 30vw;
    align-items: center;
}

.button{
    padding: 20px;
    margin: 0 3px;
    border: 3px solid black;
    border-radius: 10px;
    cursor: pointer;
    width: 6vw;
    font-size: 1.5vw;
    font-weight: bold;
    text-align: center;
}

.row{
    margin: 8px 0;
}

.row input{
    margin: 0;
    width: 30vw;
    padding: 15px 0;
    border: 3px solid black;
    border-radius: 5px;
    font-size: 20px;
    text-align: right;
}

.more{
    margin: 0;
    width: 28vw;
    padding: 10px 0;
    border: 3px solid black;
    border-radius: 5px;
    font-size: 2vw;
    cursor: pointer;
    font-weight: bold;
}
